{% extends "base.html" %}

{% block title %}F1 - Drivers{% endblock %}

{% block content %}
<div class="container-drivers">
	<div class="drivers-header">
		<h1><span class="yellow">Drivers</span></h1>
		<form action="{{ url_for('drivers') }}" method="GET">
			<input type="number" min="1950" max="2023" step="1" value="{{year}}" name="year">
			<input type="submit" value="search"/>
		</form>	
	</div>
	{% with messages = get_flashed_messages() %}
		{% if messages %}
			{% for message in messages %}
				<p class="error-drivers">{{ message }}</p>	
			{% endfor %}
		{% else %}
			<div class="drivers-cards">
				{% for _, driver in drivers.items() %}
					<div class="driver-card">
						<div class="img-container">
							<a class="drivers-img-link" href="{{ url_for('driver', driver_id=driver['driver_id']) }}"><img class="drivers-img" src="{{driver['url']}}"></a>
						</div>
						<hr>
						<h3>{{driver["given_name"]}} {{driver["family_name"]}}</h3>
					</div>
				{% endfor %}	
			</div>
		{% endif %}
	{% endwith %}
</div>
{% endblock %}