{% extends "base.html" %}
{% block title %}F1 - Home{% endblock %}

{% block content %}
<div class="main">
  	<h2 class="subtitle">NEXT Race</h2>
  	<div class="race-info">
    	<h3 class="race-name yellow">{{next_races[0].get("race_name")}}</h3>
		<p class="race-date">{{next_races[0].get("race_date")}}, {{next_races[0].get("race_time")[:-4]}}</p>
		<img class="circuit-img" src="{{next_races[0].get('url')}}">
    	<p class="circuit-name">{{next_races[0].get("circuit_name")}}</p>
    	<p class="circuit-local">{{next_races[0].get("race_country")}}, {{next_races[0].get("race_locality")}}</p>
  	</div>

	<div class="next-races">
		{% for race in next_races[1:] %}
			<div class="race">
				<p class="race-name2">{{race.get("race_name")}}</p>
				<p class="race-date2">{{race.get("race_date")}}, {{race.get("race_time")[:-4]}}</p>
				<img class="circuit-img2" src="{{race.get('url')}}">
			</div>
		{% endfor %}
	</div>
</div>
{% endblock %}
